<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unique</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">

        <div class="row">
            <div class="col text-center">
                <img id="logo" src="/assets/images/logo.jpg" alt="" style="width: 10%; height: auto">
                <h1>UNIQUE</h1>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <h2><small>A Copyright Infringement Protection Platform Based on Digital Watermarking</small></h2>
            </div>
        </div>

        <div class="row">
            <div class="col text-center"> 
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item active">
                                <a class="nav-link active" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/embed">Embed</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/extract">Extract</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-md-6">
                <p>UNIQUE is a copyright infringement protection platform based on digital watermarking techniques.</p>
                <p><b>Embedding</b> a watermark into your picture makes the picture carry your watermark forever - nobody else can claim that the author is someone else.</p>
                <p><b>Extracting</b> a watermark from the picture enables you to get the watermark embedded in the picture and verify the author of it.</p>
                <p>UNIQUE also detects duplicate pictures uploaded to the system. Nobody can claim his or her authorship over the picture as long as you are the first one to upload it.</p>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>